---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import type { InferGetStaticPropsType } from "astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blogs");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props as Props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} isMd={true} desc={entry.data.description}>
  <h1>{entry.data.title}</h1>
  <time>{entry.data.date}</time>
  <Content />
</Layout>
